/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #222;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#display{
  grid-column: span 4;
}
.button{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
