*{
    box-sizing: border-box;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.contenter{
    max-width: 1200px;
    width: 100%;
    background-color: rgb(211, 211, 211);
    padding: 10px;
}
header{
    display: flex;
}
.logo{
    flex-basis: 30%;
    justify-content: center
}
.logo img{
    width: 100px;
}
.menu{
    flex-basis: 40%;
    display: inline;
    
}
a{
        text-decoration: none;
        font-size: 30px;
        margin: 20px;
        color: rgb(255, 255, 255);
}
.sign-up{
    flex-basis: 30%;
}
button{
    background-color: green;
    border-radius: 3px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}
button:hover {
  background: #8ebd8a;   /* đổi màu khi hover */
}
.productpic{
    display: flex;
    justify-content: center;
}
.spectrum{
  display: flex;
  flex-direction: row;  /* xếp theo cột */
  align-items: center;     /* căn giữa theo chiều ngang */
  justify-content: center; /* căn giữa theo chiều dọc nếu có chiều cao */
  text-align: center;      /* chữ cũng căn giữa */
  gap: 50px;
  
}

.spectrum p{
    background-color: rgb(180, 233, 215);
    padding: 20px;
    border-radius: 5px;
}
.quote{
    display: flex;
    flex-direction: row;  /* xếp theo cột */
    align-items: center;     /* căn giữa theo chiều ngang */
    justify-content: center;
    margin-top: 10px;
}
.quote div{
    width: 50%;
    padding-left: 20px;
}
.quote img{
    border-radius: 10px;
}
.footer{
    display: flex;
    flex-direction: row;  /* xếp theo cột */
    align-items: center;     /* căn giữa theo chiều ngang */
    justify-content: center;
    margin-top: 10px;
}
.llink{
    width: 50%;
    text-align: left;
}
.rlink{
    width: 50%;
    text-align: right;
}











.quote img{
    width: 200px;
}